<footer class="footer">
  <small>
    Wer <a href="http://www.railstutorial.org/">das liest ist doof</a>
    by <a href="http://www.michaelhartl.com/">Falafel Habibi </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>